*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
    background-color: #eee;
    height: 100vh;
    display: grid;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.header{
    background-color: #fff;
    max-height: 145px;
}

.header__content{
    display: flex;
    flex-direction: column;
}

.logo-box{
    text-align: center;
    padding: 15px 0;
}

.logo{
    width: 250px;
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
}

.nav__item{
    flex: 1;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.card{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 20px;
    background-color: #fff;
}

.products{
    padding: 30px;
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 30px;
    justify-content: center;
}

.camera{
    width: 100%;
}

.camera__img-box{
    width: 100%;
    height: 200px;
}

.camera__img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.camera__caption{
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
}

.camera__name{
    font-weight: 900;
    font-size: 22px;
}

.camera__price{
    /* font-size: 1px; */
    font-weight: 700;
}

.footer{
    background-color: #4e4e4e;
    padding: 20px 0;
}

.footer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.footer__link{
    padding: 10px 0;
}

.footer__link:hover{
    text-decoration: underline;
}




/*Page panier*/
.alert--hidden{
    display: none;
}

/* Page produit */

    .card--product-page .camera{
        flex-direction: column;
    }

    .card--product-page .camera__img-box{
        width: 100%;
        border: 20px 20px 0 0;
    }

    .card--product-page .camera__img{
        border-radius: 20px 20px 0 0;
    }

    .card--product-page .camera__caption{
        flex-direction: column;
        padding: 0 20px
    }

    .card--product-page .camera__caption p{
        padding: 10px 0;
        text-align: center;
    }

    .card--product-page .camera__caption p.camera__description{
        text-align: justify;
    }

    .form-lense{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-lense__group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-lense__label{
        font-size: 18px;
    }

    .form-lense__select{
        margin-top: 5px;
        width: 100%;
        max-width: 255px;
        height: 30px;
        font-size: inherit;
        font-family: inherit;
    }

    .btn{
        padding: 10px;
        align-self: center;
        border: none;
        outline: none;
        background-color: #8f5bfc; 
        color: #fff;
        border-radius: 5px;
        transition: all .2s;
    }

    .btn:hover{
        background-color: #7a4ddb; 
    }


@media only screen and (min-width: 600px){
    .header{
        max-height: 100px;
    }
    .header__content{
        flex-direction: row;
        max-width: 1080px;
        margin: 0 auto;
    }

    .logo-box{
        padding-left: 15px;
    }

    .nav{
        margin-left: auto;
    }

    .nav__list{
        height: 100%;
    }

    .nav__item{
        width: 150px;
        align-items: center;
    }
    
    .card{
        max-width: 700px;
    }
    .camera{
        display: flex;
    }

    .camera__img-box{
        width: 75%;
        height: 250px;
    }

    .camera__img{
        border-radius: 20px 0 0 20px;
    }

    .camera__caption{
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

