*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;;
    color: #444;
    background-color: #f3f3f3;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* HEADER */
.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(69, 69, 69);
    border-bottom: solid 1px #d3cfcf;
}

.header__top-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: solid 1px #d3cfcf;
}

.header__logo{
    width: 250px;
    padding: 20px;
}

.nav{
    width: 500px;
    min-width: 320px;
    min-height: 70px;
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav__item{
    width: 33%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__hero{
    flex : 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__hero-img-box{
    max-width: 600px;
}


.header__hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.header__hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    margin-bottom: 30px;
}

.header__heading--main{
    font-weight: 600;
    font-size: 60px;
    animation: moveInLeft 1s ease-out;
    background-image: linear-gradient(to left top,#6d35e7, #d86e27);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header__heading--sub{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    animation: moveInRight 1s ease-out;
}

.header__hero-btn{
    animation: moveInBottom 1s ease-out;
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.heading-3.heading-3--home{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    background-image: linear-gradient(to left top,#6d35e7, #d86e27);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 50px 20px;
}


#render{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 120px 20px;
}

.card{
    min-height: 300px;
}

.card{
    position: relative;
}

.card__icon{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-90deg);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: linear-gradient(to left top,#6d35e7, #ac8feb);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    transition: all .7s;
}

.card__icon img{
    width: 30px;
    height: 30px;
}

.card:hover .card__icon{
    /* opacity: 1; */
    transform: translate(-50%, -50%) rotateY(0deg);
}
 .camera__img-box{
    overflow: hidden;
}

 .camera__img-hidden{

    display: flex;
    height: 100%;
    transition: all .5s;
}

.card:hover .camera__img-hidden{
    transform: translateX(-100%);
    filter: grayscale(100%);
}


.camera{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 250px 50px;
    grid-gap: 20px;
}

.camera__img-box{
    flex: 1;
}

.camera__img{
    width: 100%;
    object-fit: cover;
}

.camera__caption{
    margin-top: auto;
}

.camera__name{
    font-size: 18px;
    font-weight: 500;
}

.camera__price{
    font-weight: 700;
    color: #6d35e7;
}


.footer{
    background-color: #4e4e4e;
    padding: 20px 0;
}

.footer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.footer__link{
    padding: 10px 0;
}

.footer__link:hover{
    text-decoration: underline;
}


/* Page produit */

#render.productsPage{
    justify-items: center;
    align-items: center;
}

.left-box{
    width: 100%;
}

.right-box{
    background-color: #fff;
    padding: 20px;
}

.details{
    max-width: 450px;
}

.details>*{
    padding: 15px 0;
}

.details__name{
    font-size: 35px;
    font-weight: 500;
}

.details__price{
    font-size: 24px;
    font-weight: 300;
    color: #6d35e7;
}

.details__description{
    font-size: 16px;
}

.img{
    width: 100%;
    object-fit: cover;
}

.form-lense{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-lense>*{
    padding: 15px 0;
}

.form-lense__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-lense__label{
    font-size: 18px;
}

.form-lense__select{
    margin-top: 5px;
    width: 100%;
    max-width: 255px;
    height: 30px;
    font-size: inherit;
    font-family: inherit;
}

/*Page panier*/
table{
    border-collapse: collapse;
    /* background-color: #fff; */
}

tr{
    border: solid 1px #d3cfcf;
}

td{
    text-align: center;
}

.cart-array__head {
    background-color: #ececec;
    
}

.cart-array__head th{
    padding: 20px;
    font-weight: 500;
}

.emptyCart{
    font-size: 30px;
    font-weight: 500;
}

.card--cart-page .camera__caption{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-row-gap: 15px;
    justify-items: center;
}

.btn--delete{
    grid-column: 1/3;
    width: 100%;
    max-width: 150px;
}

.cart-array__body{
    background-color: #f7f7f7;
}

.cart-array__image{
    max-width: 200px;
    height: 150px;
    object-fit: cover;
}
.cart-array__quantity-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-array__quantity{
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: inherit;
    font-size: 15px;
    border: none;
    border-top: solid 1px #d3cfcf;
    border-bottom: solid 1px #d3cfcf;
}

.cart-array__btn{
    background-color: #ececec;
    border: 1px solid #d3cfcf;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart-array__btn--delete{
    box-sizing: initial;
    width: auto;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.cart-array__icon img{
    width: 100%;
    height: 100%;
}

.form-content{
    padding: 0 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #f7f7f7;
}

.heading-3{
    padding: 20px 0;
    font-size: 25px;
}


.form{
    max-width: 500px;
    background-color: #f7f7f7;
    border: solid 1px #d3cfcf;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-self: center;
}

.form__group{
    display: flex;
    padding: 15px 0;
}

.form__label{
    margin-right: auto;
    width: 150px;
}

.form__input{
    height: 30px;
    width: 75%;
    outline: none;
    border: solid 1.5px #e4e2e2;
}

.form__input:focus{
    border: solid 1.5px #a749ff;
}

.form__btn{
    width: 150px;
}

/* Page confirmation */

#confirmation-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    text-align: center;
}

#orderId, #total{
    font-weight: 500;
}

.btn{
    padding: 10px;
    align-self: center;
    border: none;
    outline: none;
    background: #a749ff; 
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
}

.btn:hover{
    background-color: #7a4ddb; 
}

.alert--red.alert--hidden{
    height: 0;
    margin-top: 0;
    padding: 0;
    opacity: 0;
}

.alert--red{
    margin-top: 15px;
    background-color: #FECACA;
    color: #B91C1C;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.alert--green.alert--hidden{
    transform: translate(-50% ,-100%);
    opacity: 0;
}

.alert--green{  
    background-color: #A7F3D0;
    color: #047857;
    height: 50px;
    width: 80%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.hidden{
    display: none;
}



@media only screen and (max-width: 800px){
    #render.productsPage{
        grid-gap: 0;
    }
    .left-box{
        grid-column: 1/3;
    }

    .right-box{
        grid-column: 1/3;
    }

    .cart-array__head,
    .pu,
    .cart-array__name{
        display: none;
    }

    .cart-array__trash-box{
        border-right: solid 1px #d3cfcf;
    }

    tr{
        border: solid 1px #d3cfcf;
    }

    .heading-3{
        text-align: center;
    }
}

@media only screen and (max-width: 500px){
    .cart-array__image{
        width: 100px;
        padding: 0;
    }

    .form__group{
        flex-direction: column;
    }

    .form__input{
        width: 100%;
        margin-top: 15px;
    }
}