*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
    background-color: #eee;
    height: 100vh;
    display: grid;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.header{
    background-color: #fff;
}

.header__content{
    display: flex;
    flex-direction: column;
}

.logo-box{
    text-align: center;
    padding: 15px 0;
}

.logo{
    width: 250px;
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
}

.nav__item{
    flex: 1;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.card{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 20px;
    background-color: #fff;
}

.products{
    padding: 30px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.camera{
    width: 100%;
}

.camera__img-box{
    width: 100%;
    height: 200px;
}

.camera__img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.camera__caption{
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
}

.camera__name{
    font-weight: bold;
}

/* Page prduit */

.product{
    padding: 0 30px;
}

.alert--hidden{
    display: none;
}

.footer{
    background-color: #4e4e4e;
    padding: 20px 0;
}

.footer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.footer__link{
    padding: 10px 0;
}

.footer__link:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 600px){
    .header__content{
        flex-direction: row;
        max-width: 1080px;
        margin: 0 auto;
    }

    .logo-box{
        padding-left: 15px;
    }

    .nav{
        margin-left: auto;
    }

    .nav__list{
        height: 100%;
    }

    .nav__item{
        width: 150px;
        align-items: center;
    }
    
    .card{
        max-width: 700px;
    }
    .camera{
        display: flex;
    }

    .camera__img-box{
        width: 75%;
        height: 250px;
    }

    .camera__img{
        border-radius: 20px 0 0 20px;
    }

    .camera__caption{
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

